Default
<ngx-dropzone></ngx-dropzone>

<ngx-dropzone #drop (filesAdded)="onFilesAdded($event)">
	<ngx-dropzone-label>Drop it like it's hot!</ngx-dropzone-label>
	<ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
		<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
	</ngx-dropzone-preview>
</ngx-dropzone>

<button (click)="drop.showFileSelector()">Open</button>

<ngx-dropzone (filesAdded)="onFilesAdded($event)" [disabled]="true">
	<ngx-dropzone-label>Drop it like it's hot!</ngx-dropzone-label>
	<ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
		<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
	</ngx-dropzone-preview>
</ngx-dropzone>

<ngx-dropzone (filesAdded)="onFilesAdded($event)" [maxFileSize]="500000">
	<ngx-dropzone-label>Drop it like it's hot!</ngx-dropzone-label>
	<ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
		<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
	</ngx-dropzone-preview>
</ngx-dropzone>

<div class="custom-dropzone" ngx-dropzone [accept]="'image/png'" (filesAdded)="onFilesAdded($event)"
	(filesRejected)="onFilesRejected($event)">
	<ngx-dropzone-label>
		<div>
			<h2>My custom dropzone</h2>
		</div>
	</ngx-dropzone-label>
	<p>P-Element</p>
	<ngx-dropzone-image-preview *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
		<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
	</ngx-dropzone-image-preview>
</div>

<div class="custom-dropzone" ngx-dropzone [accept]="'video/*'" (filesAdded)="onFilesAdded($event)"
	(filesRejected)="onFilesRejected($event)">
	<ngx-dropzone-label>
		<div>
			<h2>My custom dropzone</h2>
		</div>
	</ngx-dropzone-label>
	<ngx-dropzone-video-preview *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
		<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
	</ngx-dropzone-video-preview>
</div>
