Default
<ngx-dropzone></ngx-dropzone>
Disabled
<ngx-dropzone [disabled]="true"></ngx-dropzone>
With event listener
<ngx-dropzone (filesAdded)="onFilesAdded($event)"></ngx-dropzone>
Multiple disabled
<ngx-dropzone [multiple]="false" (filesAdded)="onFilesAdded($event)"></ngx-dropzone>
Label
<ngx-dropzone [label]="'This is a custom label text'"></ngx-dropzone>
Accepts "image/*"
<ngx-dropzone [accept]="'image/*'" (filesAdded)="onFilesAdded($event)" (filesRejected)="onFilesRejected($event)">
</ngx-dropzone>
Shows previews
<button (click)="drop.reset()">Reset</button>
<ngx-dropzone [showPreviews]="true" (filesAdded)="onFilesAdded($event)" #drop></ngx-dropzone>
Shows previews without preserving
<ngx-dropzone [showPreviews]="true" [preserveFiles]="false" (filesAdded)="onFilesAdded($event)"></ngx-dropzone>
Max File size 2kb
<ngx-dropzone [maxFileSize]="2000" (filesAdded)="onFilesAdded($event)" (filesRejected)="onFilesRejected($event)">
</ngx-dropzone>

Custom styling
<ngx-dropzone class="custom-dropzone" label="Drop it!" (filesAdded)="onFilesAdded($event)"></ngx-dropzone>

Custom styling disabled
<ngx-dropzone class="custom-dropzone" [disabled]="true" (filesAdded)="onFilesAdded($event)"></ngx-dropzone>

Custom styling with preview
<ngx-dropzone class="custom-dropzone" [showPreviews]="true" (filesAdded)="onFilesAdded($event)"></ngx-dropzone>
